<%- include('../partials/head') %>
<div class="container">
<h1>Welcome To Our Community!</h1>

<ul>


    <% if (users.length!=0) {%>
<% users.forEach(user=>{ %>

<div class="item-container"><a href="/community/<%= user._id  %>"><li> <%= user.username %></li></a></div>
<% } ) %>
</ul>
<% } else {%>
<h1> There are no current members in our community </h1>
    <% }%>
</div>
<%- include('../partials/footer') %>